:root {
  --castle-color: #693a69;
  --grey: #808080;
  --light-grey: #e7e7e7;
}

.add-property {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.add-property-container {
  width: 500px;
  background-color: var(--light-grey);
  padding: 30px;
}

.form-field {
  padding-top: 10px;
  width: 100%;
  margin-bottom: 18px;
}

select, input {
  margin-left: 40px;
  width: 60%;
  height: 30px;
}

button {  
  margin: 0 auto;
  display: block;
  cursor: pointer;
  background-color: var(--castle-color);
  border: none;
  padding: 10px 60px;
  font-size: 16px; 
  color: white;
  
}

