* {box-sizing: border-box;}

.navbar {
  border-bottom: 1px solid gray;
  background-color: white;
  font-weight: bold;
  display: flex;
}

.navbar-logo {
  height: 55px;
  position: relative;
  align-self: center;
}

.navbar-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar-links-item {
  margin-left: 2em;
  padding-top: 2px;
  text-align: center;
}

.navbar-links-item a {
  text-decoration: none;
  color: black;
}

.navbar-links-item a:hover {
  text-decoration: underline;
}

.login-button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}


.logout-button {
  background-color: #4C69BA;
  height: 55px;
  font-size: 15px;
  font-weight: 800;
  padding: 20px;
}

@media screen and (max-width: 640px) {
  .navbar {
    text-align: center;
    display: block;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links-item, .login-button {
    margin: 0.5em 0;
  }

}

