.sidebar {
  font-size: 14px;
}

.city, .price {
  padding-top: 30px;
}

.city-link, .price-link {
  text-decoration: none;
  color: black;
}

.city-link:hover, .price-link:hover {
  text-decoration: underline;
}

.sort-container {
  padding-top: 40px;
}

